$dark_gray: #3C3C3B;
$dark_green: #47AA38;
$light_gray: #EBEBEB;
$lightest_gray: #F6F6F6;

$gray_border: #CFCFCF;
$border_red: #824141;

$dark_font: #3F2E2E;
$blue_font: #0B1A67;
$black_font: #000000;

$button_red: #DD3D3D;
$button_green: #4CCB38;
$button_gray: #505050;
